.header_section {
    height: 740px;
    background-image: url('media/BackgroundAboutUs.png'); 
    background-size: cover;
    background-position: center;
    color: white;
  }

  .cards_container{
    background-color: white;
    color: black;

    display: flex;
    justify-content: space-between;
    padding: 57px 130px;

  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }
  header h1{
    font-size: 64px;
    font-weight: 500;
    text-align: center;
  }
  .subheader{
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
  }
  